.card {
  border: 1px solid #000;
  box-shadow: 4px 4px 8px 0 rgb(34 60 80 / 20%);
  border-radius: 10px;
  margin-bottom: 20px;
}

.contentBox {
  padding: 17px;
}

.content {
  display: flex;
  align-items: center;
}
