.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 70px;
  background-color: #101010;
  position: fixed;
  z-index: 100;
  width: 100%;
}

.logo {
  color: #fff;
  font-weight: 700;
  font-size: 28px;
  line-height: 60px;
}

.buttonGroup button:nth-child(2) {
  margin-left: 12px;
}
